<% var question = data.questions.fill_in_blanks %>

<section class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">一、<%= question.title %></h3></div>
    <ul class="list-group">
        <% for(var i = 0;i < question.detail.length; i++) { %>

        <li class="list-group-item form-inline">
            <label><%= i+1 %>&nbsp;&nbsp;.<%= question.detail[i].topic %></label>
            <% for(var x = 0; x < question.detail[i].answer.length; x++) { %>
            <input class="form-control" type="text" name="fill_in_blanks<%= i %>" />&nbsp;
            <% } %>
        </li>

        <% }  %>
    </ul>
</section>