<section class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">一、填空题</h3></div>
    <ul class="list-group">
        <li class="list-group-item form-inline">
            <label for="one-one">1.&nbsp;&nbsp;UML 的中文全称：</label>
            <input type="text" id="one-one" value="" class="form-control">
        </li>
        <li class="list-group-item form-inline">
            <label for="one-two">2.&nbsp;&nbsp;对象最突出的特征是：</label>
            <input type="text" id="one-two" value="" class="form-control ">,
            <input type="text" id="one-three" value="" class="form-control">,
            <input type="text" id="one-four" value="" class="form-control">
        </li>
    </ul>
</section>