<div class="panel panel-default">
    <div class="panel-body">
        <div class="list-group">
            <div class="col-md-1">
                <label>科目：</label>
            </div>
            <div class="col-md-3">
                <em>你猜</em>
            </div>
            <div class=" col-md-1">
                <label>时间：</label>
            </div>
            <div class=" col-md-3">
                <em>100分钟</em>
            </div>
            <div class="col-md-1">
                <label>分数：</label>
            </div>
            <div class=" col-md-3">
                <span id="score" class="text-danger"><%= score %></span>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <section class="form-inline">
            <div id="form-class" class="form-horizontal">
                <div class="col-md-1">
                    <label for="class-name" class="control-label">班级：</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="class-name" name="className" placeholder="长腿班" class="form-control" value=<%= className %>>
                </div>
            </div>
            <div id="form-id" class="form-horizontal">
                <div class="col-md-1">
                    <label for="id-number" class="control-label">学号：</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="id-number" name="idNumber" placeholder="9527" class="form-control" value=<%= idNumber %>>
                </div>
            </div>
            <div id="form-name" class="form-horizontal">
                <div class="col-md-1">
                    <label for="student-name" class="control-label">姓名：</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="student-name" name="studentName" placeholder="湿踩墙" class="form-control" value=<%= studentName %>>
                </div>
            </div>
        </section>
    </div>
</div>