<div class="panel panel-default">
    <div class="panel-body">
        <div class="list-group">
            <div class="col-md-1">
                <label>科目：</label>
            </div>
            <div class="col-md-3">
                <em>统一建模语言 UML</em>
            </div>
            <div class=" col-md-1">
                <label>时间：</label>
            </div>
            <div class=" col-md-3">
                <em>100分钟</em>
            </div>
            <div class="col-md-1">
                <label>分数：</label>
            </div>
            <div class=" col-md-3">
                <span id="score" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-inline">
            <div id="form-class" class="form-horizontal">
                <div class="col-md-1">
                    <label for="class-name" class="control-label">班级：</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="class-name" value="" placeholder="长腿班" class="form-control">
                </div>
            </div>
            <div id="form-id" class="form-horizontal">
                <div class="col-md-1">
                    <label for="id-number" class="control-label">学号：</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="id-number" value="" placeholder="9527" class="form-control">
                </div>
            </div>
            <div id="form-name" class="form-horizontal">
                <div class="col-md-1">
                    <label for="student-name" class="control-label">姓名：</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="student-name" value="" placeholder="湿踩墙" class="form-control">
                </div>
            </div>
        </form>
    </div>
</div>