<section class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">三、多选题</h3></div>
    <div class="panel-body">
        <ol>
            <li>
                <p>用例的粒度分为以下哪三种:</p>
                <label><input type="checkbox" name="three-one" value="A">
                    （A）概述级</label><br>
                <label><input type="checkbox" name="three-one" value="B">
                    （B）需求级</label><br>
                <label><input type="checkbox" name="three-one" value="C">
                    （C）用户目标级</label><br>
                <label><input type="checkbox" name="three-one" value="D">
                    （D）子功能级</label><br>
            </li>
            <li>
                <p>类图由以下哪三部分组成:</p>
                <label><input type="checkbox" name="three-two" value="A">
                    （A）名称(Name)</label><br>
                <label><input type="checkbox" name="three-two" value="B">
                    （B）属性(Attribute)</label><br>
                <label><input type="checkbox" name="three-two" value="C">
                    （C）操作(Operation)</label><br>
                <label><input type="checkbox" name="three-two" value="D">
                    （D）方法（Function）</label><br>
            </li>
        </ol>
    </div>
</section>