<section class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">二、选择题</h3></div>
    <div class="panel-body">
        <ol>
            <li>
                <p>UML&nbsp;与软件工程的关系是：</p>
                <label><input type="radio" name="two-one" value="A">
                    （A）UML&nbsp;就是软件工程</label><br>
                <label><input type="radio" name="two-one" value="B">
                    （B）UML&nbsp;参与到软件工程中软件开发过程的几个阶段</label><br>
                <label><input type="radio" name="two-one" value="C">
                    （C）UML&nbsp;与软件工程无关</label><br>
                <label><input type="radio" name="two-one" value="D">
                    （D）UML&nbsp;是软件工程的一部分</label><br>
            </li>
            <li>
                <p>Java&nbsp;语言支持：</p>
                <label><input type="radio" name="two-two" value="A">
                    （A）单继承</label><br>
                <label><input type="radio" name="two-two" value="B">
                    （B）多继承</label><br>
                <label><input type="radio" name="two-two" value="C">
                    （C）单继承和多继承都支持</label><br>
                <label><input type="radio" name="two-two" value="D">
                    （D）单继承和多继承都不支持</label><br>
            </li>
        </ol>
    </div>
</section>