<section class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">五、简答题</h3></div>
    <div class="panel-body">
        <label for="five-one">1.简述什么是模型以及模型的表现形式?</label>
        <textarea class="form-control" id="five-one" name="simple-answer" rows="8" cols="85"></textarea>
    </div>
</section>