body {
  background-color: gray;
  font-family: 'open sans', helvetica, arial, 'Microsoft YaHei', 微软雅黑, STXihei, 华文细黑, sans-serif;
  margin: 0;
}

input {
border-right: 0px solid;
border-top: 0px solid;
border-left: 0px solid;
border-bottom: 1px solid
}

input[name*="choose"]{
  width: 10px;
}

input[type*="text"]{
  font-size: 14px;
}

#score{
  color: red;
  border-color: black;
}

.paper{
  width:700px;
  height: auto;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  background-color: white;
}

.blank{
  background-color: white;
  width: auto;
  height: 20px;
}


.header{
  width:700px;
  height: 100px;
  background-color: black;
  background-size: 100%auto;
  margin: 0 auto;
}

.header h1{
  color: white;
  text-align: center;
  padding-top: 20px;
}

#yeah{
  color: red;
  font-size: 50px;
}

.info{
  width: 700px;
  height: 100px;
  background-color: white;
  margin: 0 auto;
}

.test-name{
  width: 230px;
  height: 50px;
  display: inline-block;
  text-align: center;
}

.time{
  width: 230px;
  height: 50px;
  display: inline-block;
  text-align: center;
}

.score{
  width: 230px;
  height: 50px;
  display: inline-block;
  text-align: center;
}

.class{
  width: 230px;
  height: 50px;
  display: inline-block;
  text-align: center;
}

.id-number{
  width: 230px;
  height: 50px;
  display: inline-block;
  text-align: center;
}

.name{
  width: 230px;
  height: 50px;
  display: inline-block;
  text-align: center;
}

button{
  width: 700px;
  height: 200px;
  font-size: 120px;
  margin-bottom: 25px;
}
