<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>爽快的统一建模语言理论测试</title>
  <!-- <link rel="stylesheet" href="main.css"> -->
  <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="../js/main.js"></script>
  <script type="text/javascript" src="../js/model/fill-in-blanks.js"></script>
  <script type="text/javascript" src="../js/model/information.js"></script>
  <script type="text/javascript" src="../js/model/judge.js"></script>
  <script type="text/javascript" src="../js/model/multi-choose.js"></script>
  <script type="text/javascript" src="../js/model/score.js"></script>
  <script type="text/javascript" src="../js/model/single-choose.js"></script>
  <script type="text/javascript" src="../js/model/subjective.js"></script>
</head>

<body>
<div class="container">
  <header class="text-center">
    <h1><span id="yeah">爽快的</span>统一建模语言理论测试</h1>
  </header>
  <br>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="list-group">
        <div class="col-md-1">
          <label>科目：</label>
        </div>
        <div class="col-md-3">
          <em>统一建模语言 UML</em>
        </div>
        <div class=" col-md-1">
          <label>时间：</label>
        </div>
        <div class=" col-md-3">
          <em>100分钟</em>
        </div>
        <div class="col-md-1">
          <label>分数：</label>
        </div>
        <div class=" col-md-3">
          <span id="score" class="text-danger"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-inline">
        <div id="form-class" class="form-horizontal">
          <div class="col-md-1">
            <label for="class-name" class="control-label">班级：</label>
          </div>
          <div class="col-md-3">
            <input type="text" id="class-name" value="" placeholder="长腿班" class="form-control">
          </div>
        </div>
        <div id="form-id" class="form-horizontal">
          <div class="col-md-1">
            <label for="id-number" class="control-label">学号：</label>
          </div>
          <div class="col-md-3">
            <input type="text" id="id-number" value="" placeholder="9527" class="form-control">
          </div>
        </div>
        <div id="form-name" class="form-horizontal">
          <div class="col-md-1">
            <label for="student-name" class="control-label">姓名：</label>
          </div>
          <div class="col-md-3">
            <input type="text" id="student-name" value="" placeholder="湿踩墙" class="form-control">
          </div>
        </div>
      </form>
    </div>
  </div>

  <section class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">一、填空题</h3></div>
    <ul class="list-group">
      <li class="list-group-item form-inline">
        <label for="one-one">1.&nbsp;&nbsp;UML 的中文全称：</label>
        <input type="text" id="one-one" value="" class="form-control">
      </li>
      <li class="list-group-item form-inline">
        <label for="one-two">2.&nbsp;&nbsp;对象最突出的特征是：</label>
        <input type="text" id="one-two" value="" class="form-control ">,
        <input type="text" id="one-three" value="" class="form-control">,
        <input type="text" id="one-four" value="" class="form-control">
      </li>
    </ul>
  </section>

  <section class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">二、选择题</h3></div>
    <div class="panel-body">
      <ol>
        <li>
          <p>UML&nbsp;与软件工程的关系是：</p>
          <label><input type="radio" name="two-one" value="A">
            （A）UML&nbsp;就是软件工程</label><br>
          <label><input type="radio" name="two-one" value="B">
            （B）UML&nbsp;参与到软件工程中软件开发过程的几个阶段</label><br>
          <label><input type="radio" name="two-one" value="C">
            （C）UML&nbsp;与软件工程无关</label><br>
          <label><input type="radio" name="two-one" value="D">
            （D）UML&nbsp;是软件工程的一部分</label><br>
        </li>
        <li>
          <p>Java&nbsp;语言支持：</p>
          <label><input type="radio" name="two-two" value="A">
            （A）单继承</label><br>
          <label><input type="radio" name="two-two" value="B">
            （B）多继承</label><br>
          <label><input type="radio" name="two-two" value="C">
            （C）单继承和多继承都支持</label><br>
          <label><input type="radio" name="two-two" value="D">
            （D）单继承和多继承都不支持</label><br>
        </li>
      </ol>
    </div>
  </section>

  <section class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">三、多选题</h3></div>
    <div class="panel-body">
      <ol>
        <li>
          <p>用例的粒度分为以下哪三种:</p>
          <label><input type="checkbox" name="three-one" value="A">
            （A）概述级</label><br>
          <label><input type="checkbox" name="three-one" value="B">
            （B）需求级</label><br>
          <label><input type="checkbox" name="three-one" value="C">
            （C）用户目标级</label><br>
          <label><input type="checkbox" name="three-one" value="D">
            （D）子功能级</label><br>
        </li>
        <li>
          <p>类图由以下哪三部分组成:</p>
          <label><input type="checkbox" name="three-two" value="A">
            （A）名称(Name)</label><br>
          <label><input type="checkbox" name="three-two" value="B">
            （B）属性(Attribute)</label><br>
          <label><input type="checkbox" name="three-two" value="C">
            （C）操作(Operation)</label><br>
          <label><input type="checkbox" name="three-two" value="D">
            （D）方法（Function）</label><br>
        </li>
      </ol>
    </div>
  </section>

  <section class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">四、判断题</h3></div>
    <div class="panel-body">
      <ol>
        <li>
          <p>用例图只是用于和客户交流和沟通的，用于确定需求。
            √<input type="radio" name="four-one" value="true">
            x<input type="radio" name="four-one" value="false"></p>

        </li>
        <li>
          <p>在状态图中，终止状态在一个状态图中允许有任意多个。
            √<input type="radio" name="four-two" value="true">
            x<input type="radio" name="four-two" value="false"></p>
        </li>
      </ol>
    </div>
  </section>

  <section class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">五、简答题</h3></div>
    <div class="panel-body">
      <label for="five-one">1.简述什么是模型以及模型的表现形式?</label>
      <textarea class="form-control" id="five-one" name="simple-answer" rows="8" cols="85"></textarea>
    </div>
  </section>

  <div class="col-md-3 col-md-offset-9">
    <button id="submit" type="submit" onclick="checkout()" class="btn btn-info btn-block btn-group-lg"> 爽快地提交
    </button>
  </div>
</div>

<div class="modal fade" id="class-modal" aria-hidden="true" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">注意！</h4>
      </div>
      <div class="modal-body">
        <p>请输入班级！</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">晓得了</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="id-modal" aria-hidden="true" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">注意！</h4>
      </div>
      <div class="modal-body">
        <p>请输入学号！</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">晓得了</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="name-modal" aria-hidden="true" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">注意！</h4>
      </div>
      <div class="modal-body">
        <p>请输入班级！</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">晓得了</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</body>
</html>
